<div id="wrap">
  <header>
    <h1>
      Both Sides are Baaad
    </h1>
    <p>Scraping the worst of the news with your friend, the Partisan Quack!</p>
    <button id="scrape">Scrape new headlines</button>
    <button id="saved">View your saved headlines</button>
  </header>
  <div id="savedArticles">
    <ul>
      {{#each savedArticles}}
      <li>
        <div class="article">
          <p>Headline: {{headline}}</p>
          <p>Date: {{date}}</p>
          <p>Summary: {{summary}}</p>
          <p>URL: {{url}}</p>
          <p>Which wing of the Partisan Quack is this?</p>
        </div>
        <div class="comments">
          <ul>
            {{#each comments}}
            <li>
              <p>Comment here</p>
              <p>User here</p>
            </li>
            {{#/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div id="leftArticles">
    <ul>
      {{#each articles}}
      <li>
        <div class="article">
          <p>Headline: {{headline}}</p>
          <p>Date: {{date}}</p>
          <p>Summary: {{summary}}</p>
          <p>URL: {{url}}</p>
          <p>Which wing of the Partisan Quack is this?</p>
        </div>
        <div class="comments">
          <ul>
            {{#each comments}}
            <li>
              <p>Comment here</p>
              <p>User here</p>
            </li>
            {{#/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div id="rightArticles">
    <ul>
      {{#each articles}}
      <li>
        <div class="article">
          <p>Headline: {{headline}}</p>
          <p>Date: {{date}}</p>
          <p>Summary: {{summary}}</p>
          <p>URL: {{url}}</p>
          <p>Which wing of the Partisan Quack is this?</p>
        </div>
        <div class="comments">
          <ul>
            {{#each comments}}
            <li>
              <p>Comment here</p>
              <p>User here</p>
            </li>
            {{#/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
